.signup_container{
    display: flex;
}

/* 회원가입 왼쪽화면 */
.signup_left{
    margin-right: 200px;
    box-sizing: border-box;
    width: 50%;
}

.logo_image{
    margin-top: -100px;
    margin-left: 100px;
    width: 669px;
    height: 392px;
    opacity: 0.7;
    /* 배경 뒤로 보내기 */
    position: relative;
    z-index: -1;
}


.logo_title{
   width: 50%;
    margin-left: 650px;


}

/* 회원가입 오른쪽 화면 */
.signup_right{
  
    margin-top: 50px;
    width: 350px;
    height: 580px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10%;
    background-color: white;
    
    
}
/* 회원가입 오른쪽 화면 상단 */
.signup_box{
    text-align: center;
    margin-bottom: 30x;
    position: relative;
    
 
}
.signup_box>img{
    text-align: center;
    align-items: center;
    
    opacity: 0.5; 
    margin-top: 20px;
    
    width: 250px;
    height: 160px;
    font-size: 20px;
    font-weight: bold;
}

.signup_box>span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -30% );
    font-size: 20px;
    font-weight: 700;
    opacity: 0.5;
    
    
}

.signup-linkbox{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    position: relative;
    z-index: 999;
    
}
.signup-link-button{
    border: none;
    width: 60px;
    height: 30px;
    color: black;
    background-color: white;
    
}
.signup-link-button:hover{
    background-color: #0F3360;
    color: white;
}
.signup-link-button:focus{
    background-color: #0F3360;
    color: white;
}

/* 회원가입 오른쪽 화면 하단 */
.social-box{
    margin-top: 40px;
    margin-left: 25px;
}



/* 회원가입 인풋박스 */
.signup-input{ 
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    width: 250px;
    height: 30px;
}

/* 성별 인풋박스 */
.index-gender-box{
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    width: 250px;
    height: 30px;
}
.gender{
    vertical-align: middle;
    font-weight: 700;
    font-size: 15px;
    opacity: 0.5;
}
.gender-radio{
    vertical-align: middle;
    margin-left: 50px;
    font-weight: 700;
    opacity: 0.5;

}

/* 남여버튼  - 기본 스타일 없애고 버튼 모양 구현 */
input[type='radio'] {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    width: 18px;
    height: 18px;
    border: 2px solid #ccc; 
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    
  }

  /* 남여버튼 - 체크될 시에 변화되는 스타일 */
  input[type='radio']:checked {
    background-color: #22d3ee; 
    border: 3px solid white; 
    box-shadow: 0 0 0 1.6px #22d3ee; 
    
  }

  /* .add-file{
  
  } */

  .file_input{
    
    margin-top: 2px;
    margin-left: -10px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    width: 250px;
    height: 30px;
  }


.login-btn{
    margin-top: 15px;
    margin-left: 30px;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: #0F3360;
    opacity: 0.8;
    border-radius: 5px;
    font-weight: 600;
    width: 250px;
    height: 30px;
    display: block;
}
.login-btn:hover{
    color: white;
    background-color: #0b72f0;
}


/* sns 로고 */
.login_image{
    
    vertical-align: middle;
    width: 40px;
    height: 40px;

}
/* 회원가입 태그 */
.signup-tag{
    display: block;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
}

.birth-date-box{
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    width: 250px;
    height: 30px;
    opacity: 0.6;
}

.birth-date-label{
margin-right: 40px;    

}

.birth-date-input{
    border: none;
    font-weight: 600;
    font-size: 15px;
}

/* 로고 이미지 바텀 */
.logo_image-bottom{
    margin-top: 300px;
    margin-left: 600px;
    

    width: 669px;
    height: 392px;
    opacity: 0.7;
    /* 배경 뒤로 보내기 */
    position: absolute;
    z-index: -100;
}







  
  


