.signin_container{
    display: flex;
}

/* 로그인 왼쪽화면 */
.signin_left{
    margin-right: 200px;
    box-sizing: border-box;
    /* display: inline-block; */
    width: 50%;
}

.logo_image{
    /* margin: 50px; */
    margin-top: -100px;
    margin-left: 100px;
    width: 669px;
    height: 392px;
    opacity: 0.7;
    /* 배경 뒤로 보내기 */
    position: relative;
    z-index: -1;
}


.logo_title{
   width: 50%;
    margin-left: 650px;


}

/* 로그인 오른쪽 화면 */
.signin_right{
    margin-top: 50px;
    width: 350px;
    height: 500px;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid black;
    border-radius: 10%;
    
}
/* 로그인 오른쪽 화면 상단 */
.signin_box{
    text-align: center;
    margin-bottom: 40x;
    position: relative;
 
}
.signin_box>img{
    text-align: center;
    align-items: center;
    
    opacity: 0.5; 
    margin-top: 20px;
    
    width: 250px;
    height: 160px;
    font-size: 20px;
    font-weight: bold;
}

.signin_box>span{
    /* margin-top: 80px;
    margin-right: 50px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -30% );
    font-size: 20px;
    font-weight: 700;
    opacity: 0.5;
    
    
}

.social-box{
    margin-top: 30px;
    margin-left: 25px;
}

/* 로그인 오른쪽 화면 하단 */
.google-box{
    
    /* box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    
    border-radius: 10px;
   
    background-color: #f2f2f2;
    font-weight: bolder;
    text-align: center;
   
    width: 250px;
    height: 30px; */
    margin-left: 70px;
    margin-top: 40px;
    margin-right: 25px;
    display: inline-block;
    
}

.naver-box{
    /* box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 30px;
    
    border-radius: 10px;
    background-color: #03c75a;
    
    font-weight: bolder;
    text-align: center;

    width: 250px;
    height: 30px; */
    margin-right: 25px;
    display: inline-block;

}

.facebook-box{
    margin-right: 25px;
    display: inline-block;
    /* margin-bottom: 20px;
    margin-left: 30px;

    
    border-radius: 10px;
    background-color: #0866FF;
    font-weight: bolder;
    text-align: center;
    width: 250px;
    height: 30px; */
    
}

/* 박스 안 글씨 */
#login-text{
    margin-top: 7px;
    font-size: 13px;
    color: black;
    vertical-align: middle;

}
/* 로그인 인풋박스 */
.signin-input{ 
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    width: 250px;
    height: 30px;
}


.login-btn{
    margin-top: 15px;
    margin-left: 30px;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: #0F3360;
    opacity: 0.8;
    border-radius: 5px;
    font-weight: 600;
    width: 250px;
    height: 30px;
    display: block;
}


/* sns 로고 */
.login_image{
    
    vertical-align: middle;
    width: 40px;
    height: 40px;

}
/* 회원가입 태그 */
.signin-tag{
    display: block;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
}

.logo_image-bottom{
    margin-top: 300px;
    margin-left: 600px;
    

    width: 669px;
    height: 392px;
    opacity: 0.7;
    /* 배경 뒤로 보내기 */
    position: absolute;
    z-index: -100;
}