.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 600px;
  padding: 32px;
}

.ready-signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #0F3360;
  border-radius: 5px;
  font-weight: 600;
  width: 250px;
  height: 30px;
  margin-bottom: 10px;

  &>span {
    font-size: 10px;
    color: white;
  }
}

.kakao {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 4px;
  align-items: center;
  background-color: #FEE500;
  cursor: pointer;

  :hover {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  }

  &>img {
      width: 25px;
      height: 25px;
      margin-right: 20px;
      border-radius: 25%;
  }

  &>span {
      margin-right: 40px;
      font-size: 10px;
      font-weight: 600;
  }

}

.naver {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 4px;
  align-items: center;
  background-color: rgb(3, 199, 90);
  cursor: pointer;

  :hover {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  }

  &>img {
      width: 25px;
      height: 25px;
      margin-right: 15px;
      border-radius: 25%;
  }

  &>span {
      margin-right: 40px;
      font-size: 10px;
      font-weight: 600;
  }
}