.listBoxAdmin {
  width: 500px;
  height: 600px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  overflow-y: scroll;
}

.listBoxAdmin > h1 {
  background-color: #0F3360;
  color: white;
}

.listAdmin {
  background-color: antiquewhite;
}

#AdminList {
  margin-left: 5px;
}

#AdminList > ol {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.AdminBoxes > button{
  margin: 5px;
}